body{
    background-color: #2B323C;
    font-family: 'Courier New', Courier, monospace;
}

.cabecalho{
    background-color: #000;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: center;
}

.elemDir{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size: 3rem;
    color: #3A83C5;
    text-align: center;
}

.titulo{
    margin: 0rem 0rem 10rem 0rem;
}

.conteudo, .accordion{
    font-size: 1.2rem;
}

.modelos{
    margin: 3rem 0rem 0rem 0rem;
}

.nav1{
    float: left;
    padding: 0%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    
}

.nav2{
    color: #FFFFFF;
    background-color: #2B323C;
    padding: 0.8rem;
    margin: 1rem 1rem 0rem 1rem;
    list-style: none;
}

.nav2:hover{
    color: #000;
    background-color: #7d838d;
}

img{
    size: 20%;
}

.nav{
    background-color: #2B323C;
}

li{
    margin: 0.5rem 1rem;
}

.top{
    margin: 1rem 1rem 1rem 1rem;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

